%h2 Notes
= link_to 'New Note', new_note_path
- @notes.each do |note|
  %p= link_to note.title, note_path(note)
  %p= link_to 'Edit', edit_note_path(note)
  %p= link_to 'Destroy', note_path(note), method: :delete

  %hr
